
<!-- Contact -->

<div class="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<div class="contact_form_container">
					<div class="section_title_container_2">
						<div class="section_title text-center pl-4">
							<h1>Contáctanos</h1>
						</div>
					</div>
				</div>
				<div class="contact_info_box d-flex flex-column align-items-center justify-content-center">
					<ul class="contact_info_list">
						<li class="d-flex flex-row align-items-start justify-content-start">
							<div>
								<div
									class="contact_info_icon d-flex flex-column align-items-center justify-content-center">
									<img src="./images/call.png" alt=""></div>
							</div>
							<div class="contact_info_text">969 592 651</div>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<div>
								<div
									class="contact_info_icon d-flex flex-column align-items-center justify-content-center">
									<img src="./images/map.png" alt=""></div>
							</div>
							<div class="contact_info_text">Calle Recavarren 111, Oficina 304  Miraflores</div>
						</li>
					</ul>
					<div class="form-group pt-4">
						<button type="button" class="form-control btn btn-btn1">Ver mapa</button>
					</div>
				</div>
			</div>
			<!-- Contact Form -->
			<div class="col-lg-6">
				<div class="contact_form_container">
					<div class="section_title_container_2">
						<div class="section_text">Déjanos tus datos y muy pronto nos comunicaremos contigo para darte
							más información.</div>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Nombre" />
					</div>
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Apellido" />
					</div>
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Correo electrónico" />
					</div>
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Teléfono" />
					</div>
					<div class="form-group">
						<textarea class="form-control" placeholder="Mensaje"></textarea>
					</div>
					<div class="form-group text-center">
						<button type="button" class="form-control btn btn-btn1">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>