<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div
                    class="footer_content d-flex flex-md-row flex-column align-items-center align-items-start justify-content-start">
                    <div class="col-lg-12 text-center">
                        <img src="./images/logo.png" class="img-small">
                        <img id="asei" src="./images/asei.png" class="img-small">
                        <div class="footer_nav row justify-content-center mt-4">
                            <div class="col-lg-1">
                                <div class="">
                                    <li><a href="#">INICIO</a></li>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="">
                                    <li><a href="#">EMPRESA</a></li>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="">
                                    <li><a href="#">PROYECTOS</a></li>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="">
                                    <li><a href="#">INVERSIONES</a></li>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mt-3">
                                    <li><a href="#" style="color: #038C65;">CONTACTO</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>