{{#extend "base"}}
{{#content "body"}}
<!-- Projects gallery -->

<div class="gallery">
	<div class="gallery_slider_container">
		<!-- Gallery Slider -->
		<div class="owl-carousel owl-theme gallery_slider">

			<!-- Slide -->
			<a class="owl-item gallery_item" href="/galicia.html">
					<div class="projects_image">
							<img src="./images/projects/galicia/banner.png">
						</div>
						<div class="projects_content d-none">
							<div class="projects_content_title">
								<img src="./images/gallery.svg" class="gallery_img">
								<h3>Parque Galicia</h3>
							</div>
							<div class="projects_description text-center">
								<p>Un nuevo y exclusivo proyecto ubicado en el distrito de Pueblo Libre, cuenta con una perfecta ubicación frente a parque</p>
							</div>
							<div class="owl-bar"></div>
						</div>
			</a>
			<!-- Slide -->
			<a class="owl-item gallery_item" href="/gondal.html">
					<div class="projects_image">
							<img src="./images/projects/gondal/banner.jpg">
						</div>
						<div class="projects_content d-none">
							<div class="projects_content_title">
								<img src="./images/gondal.svg" class="gallery_img">
								<h3>Parque Gondal</h3>
							</div>
							<div class="projects_description text-center">
								<p>Un nuevo y exclusivo proyecto ubicado en el distrito de Pueblo Libre, cuenta con una perfecta ubicación frente a parque</p>
							</div>
							<div class="owl-bar"></div>
						</div>
			</a>
		</div>
	</div>

</div>


<!-- Newsletter -->

<div class="container">
	<div class="row py-5 my-5 pt-5">
		<div class="col-md home_title text-center">
			<h2>¡Encuentra tu nuevo depa!</h2>
		</div>
		<div class="col-md">
			<p>Somos Qualis Inmobilia, una empresa enfocada en el desarrollo de proyectos para familias y personas como tu, que buscan  comodidad, ubicación, diseño y seguridad. Ven y descubre todo lo que te podemos ofrecer</p>
		</div>
	</div>
</div>

<div class="newsletter_image d-flex flex-lg-row flex-column align-items-start justify-content-start">
	<div class="newsletter_image">
		<img src="./images/banner3.jpg">
	</div>
</div>


{{/content}}
{{/extend}}