{{#extend "base"}}
{{#content "body"}}

<div class="invesment">
	<div class="invesment-item1">
		<img src="./images/invesments.jpg" />
	</div>
	<div class="invesment-item1" style="display: flex; flex-direction: column;">
		<div style="flex: 1">
			<div class="invesment-item2" style="flex:1; display: flex; flex-direction: row;">
				<div class="pl-3" style="flex: 3">
					<img src="./images/invesments2.jpg" />
				</div>
				<div class="pl-3" style="flex: 1">
					<img src="./images/invesments3.jpg" />
				</div>
			</div>
			<div class="invesment-item2" style="flex:1; display: flex; flex-direction: row;">
				<div class="pl-3 pt-3" style="flex: 5;">
					<div class="invesment-item3">
						<div style="align-items: center; justify-content: center;" class="text-center">
							<h3>"Lorem ipsum dolor, sit amet consecte"</h3>
							<div>
								<p>Sed o uismod</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pl-3 pt-3" style="flex: 5;">
					<img src="./images/invesments4.jpg" style="width: 100%;" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="invesment_2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<div class="home_title pb-4">
					<h2>Lorem ipsum dolor sit</h2>
				</div>
				<div>
					<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident.</p>
				</div>
				<div class="row justify-content-center invesment_2_content">
					<div class="col-lg-6 pb-5">
						<div style="display: flex;">
							<div style="flex: 1;" class="invesment_2_image">
								<img src="./images/building-group.svg">
							</div>
							<div style="flex: 2; display: flex; flex-direction: column;">
								<h2 class="mb-0">200</h2>
								<p>Sed eiusmod</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 pb-5">
						<div style="display: flex;">
							<div style="flex: 1;" class="invesment_2_image">
								<img src="./images/building-group.svg">
							</div>
							<div style="flex: 2; display: flex; flex-direction: column;">
								<h2 class="mb-0">180</h2>
								<p>Sed eiusmod</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 pb-5">
						<div style="display: flex;">
							<div style="flex: 1;" class="invesment_2_image">
								<img src="./images/building-group.svg">
							</div>
							<div style="flex: 2; display: flex; flex-direction: column;">
								<h2 class="mb-0">145</h2>
								<p>Sed eiusmod</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 pb-5">
						<div style="display: flex;">
							<div style="flex: 1;" class="invesment_2_image">
								<img src="./images/building-group.svg">
							</div>
							<div style="flex: 2; display: flex; flex-direction: column;">
								<h2 class="mb-0">23</h2>
								<p>Sed eiusmod</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="invesment_image">
					<img src="./images/invesment_image.jpg">
				</div>
				<div class="invesment_2_content_description">
					<h3>Lorem ipsum</h3>
					<p class="pt-3">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{/content}}
{{/extend}}